*~
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
downloads
buildout.cfg
develop-eggs
eggs
fake-eggs
var
parts
dist
.installed.cfg
.project
.pydevproject
.settings
.mr.developer.cfg
.yolk
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.DS_Store
mr-developer-src
*.sublime-project
*.sublime-workspace
.ipython
recorded_locales
include
lib
local

