[buildout]
#extends = profiles/project.cfg
#extends = profiles/production.cfg
#extends = profiles/production_zeo.cfg
#extends = profiles/testserver.cfg
#extends = profiles/devserver.cfg
extends = profiles/development.cfg

