/* ==========================================================================
     General Styles
     ========================================================================== */

body {
  background-color: @white;
  color: @black;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}
a {
  color: @linkColor;
  text-decoration: none;
}
a:hover,
a:visited {
  color: @linkColorHover;
}
h1 {
  font-family: @headingsFontFamily;
  font-size: @baseFontSize * 2.57; // ~36
  font-weight: @headingsFontWeight;
  line-height: @baseLineHeight * 2.1;
  margin: (@baseLineHeight / 2) 0;
  }
.documentFirstHeading {
  margin-top: 0;
}
h2 {
  font-size: 1.55em;
  font-weight: normal;  
  margin: 0.83em 0;
  }
h3 {
  font-size: 1.16em;
  font-weight: normal;
  margin: 1em 0;
  }
p, ul, ol, dt, dd {
  line-height: 1.4;
  }
img {
  border: 0;
  vertical-align: text-bottom;
  }
#content img,
.portletStaticText img {
  height: auto;
  max-width: 100%;
  width: auto; /*fix to IE8*/
  }
menu,
ol,
ul {
  padding: 0 0 0 27px;
  }
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
  }
dd {
  margin: 0 0 0 27px;
  }
pre {
  background-color: #222;
  color: #fff;
  font-size: 12px;
  font-family: monospace;
  margin-bottom: 1em;
  padding: 1em;
  overflow-x: auto;
  }
