@media only screen and (max-width: 480px) {
// Mobile styles
div.row {
  float: none;
  width: auto;
}
div.cell,
#sidebar {
  float: none;
  left: auto;
  margin: 0 !important;
  width: auto !important;
}
#portal-header {
  min-height: 0;
  padding: 20px 0 10px;
}
#mobile-logo {
  background-image: @mobileLogo;
  display: inline-block;
  height: @mobileLogoHeight;
  overflow: hidden;
  text-indent: -9999px;
  width: @mobileLogoWidth;
}
#desktop-logo,
#portal-breadcrumbs,
#portal-footer-wrapper .panels {
  display: none;
}
#portal-searchbox .searchField {
  margin-right: 0;
  width: 140px;
}
#portal-searchbox .searchButton[type="submit"] {
  padding: 3px 5px;
}

// Nav Portlet
#portal-column-one .portletNavigationTree {
  border: 0;
  display: block;
}
#portal-column-one .navTreeItem {
  border: 0;
}
#portal-column-one .navTreeItem a {
  background-color: @body;
  color: @white;
  margin: 0 0 5px;
}
#portal-column-one .portletNavigationTree li:not(.navTreeCurrentNode),
#portal-column-one .portletNavigationTree .navTreeCurrentNode > a {
  display: none;
}
#portal-column-one .portletNavigationTree .navTreeCurrentNode {
  border: 0;
  padding: 0;
}
#portal-column-one .portletNavigationTree .navTreeCurrentNode li {
  display: block;
}
#portal-footer {
  border: 0;
}
#portal-footer li {
  display: block;
  margin: 0 0 5px;
  text-align: center;
}
.portlet a:hover {
  text-decoration: none;
}

// Subsection View w/o Images
.tableWrapper {
  margin: 0 ;
}
.table,
.tableRow,
.tableCell {
  border-spacing: 0;
  display: block;
  width: auto;
}
.tableCell .sstDecription {
  margin-bottom: @baseLineHeight/2;
}

// Carousel 
.portletCarousel {
  margin: 0 0 18px;
  padding: 0 !important;
}
.carouselPortletItemImg,
.carouselPortletItemDescription,
.carouselPortletItemCaption {
  display: none;
}
.carouselPortletItem {
  height: auto;
}
.carouselPortletItemWrapper {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAB1CAMAAABTT8BvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIRQTFRFB3CACHaGB2l3B29+BmNwB3KCB29/B3KBBmRxB3GAB2d2B3B/B2p4B2t5B2h3B3GBB2l4CHWGBmJwCHeIBmRyCHODCHSFB2Z1B25+B2V0B3OCB219B2h2CHaHCHeHB2p5B2x7B2t6B2d1B3ODCHWFB259CHSEB218B2Z0B2RyBmNxB2VzbP54vAAAAHxJREFUeNpcwoUKgFAMAMDZ7bO7O/7//2QwHHocxDF0HW1bKkk0DGFZeJbBtvE0hXnmVQWaRg0DC4EtC78cB+s6VhRaFLCuvK5h3/kw8HHknof7nrouDgIsy9T3cdNQ28bTxPMcjuOzLOG+/8/zM0nANPF1/asqjaJHgAEAkasW7XXOy1UAAAAASUVORK5CYII=);
  height: 117px;
  padding: 0 15px 0 10px;
  position: static;
  width: auto !important;
  white-space: nowrap;
}
.carouselPortletItemWrapper:before {
  content: "";
  display: inline-block;
  height: 117px;
  vertical-align: middle;
  width: 1%;
}
.carouselPortletItemTitle {
  color: @white;
  display: inline-block;
  font-size: @baseFontSize/0.778;
  line-height: @baseLineHeight/0.75;
  margin: 0;
  padding: 15px 0;
  vertical-align: middle;
  width: 97%;
  white-space: normal;
}
.portletCarousel ul {
  margin: 10px 0;
  position: static;
  text-align: center;
  width: auto;
}
.portletCarousel li {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  width: auto !important;
}
.portletCarousel li a {
  background: none !important;
  border: 2px solid #929498 !important;
  border-radius: 50%;
  height: 20px;
  margin: 0 5px;
  overflow: hidden;
  padding: 0;
  width: 20px;
}
.portletCarousel li.current a,
.portletCarousel li a:hover {
  background-color: #edeaea !important;
}
.portletCarousel li a span {
  display: none;
}
.portletCarousel li a:before {
  display: none !important;
}

}
