@media only screen and (max-width: 480px) {
// Mobile styles
div.row {
  float: none;
  width: auto;
}
div.cell,
#sidebar {
  float: none;
  left: auto;
  margin: 0 !important;
  width: auto !important;
}
#portal-header {
  min-height: 0;
  padding: 20px 0 10px;
}
#mobile-logo {
  background-image: @mobileLogo;
  display: inline-block;
  height: @mobileLogoHeight;
  overflow: hidden;
  text-indent: -9999px;
  width: @mobileLogoWidth;
}
#desktop-logo,
#portal-breadcrumbs,
.portletCarousel,
#portal-footer-wrapper .panels {
  display: none;
}
#portal-searchbox .searchField {
  margin-right: 0;
  width: 140px;
}
#portal-searchbox .searchButton[type="submit"] {
  padding: 3px 5px;
}

// Nav Portlet
#portal-column-one .portletNavigationTree {
  border: 0;
  display: block;
}
#portal-column-one .navTreeItem {
  border: 0;
}
#portal-column-one .navTreeItem a {
  background-color: @body;
  color: @white;
  margin: 0 0 5px;
}
#portal-column-one .portletNavigationTree li:not(.navTreeCurrentNode),
#portal-column-one .portletNavigationTree .navTreeCurrentNode > a {
  display: none;
}
#portal-column-one .portletNavigationTree .navTreeCurrentNode {
  border: 0;
  padding: 0;
}
#portal-column-one .portletNavigationTree .navTreeCurrentNode li {
  display: block;
}
#portal-footer {
  border: 0;
}
#portal-footer li {
  display: block;
  margin: 0 0 5px;
  text-align: center;
}
.portlet a:hover {
  text-decoration: none;
}

// Subsection View w/o Images
.tableWrapper {
  margin: 0 ;
}
.table,
.tableCell {
  border-spacing: 0;
  display: block;
  width: auto;
}
.tableCell .sstDecription {
  margin-bottom: @baseLineHeight/2;
}

}
