/*
 * Portlets
 */

.portlet {
  margin: 0 0 1em;
}
dl.portletError {
  background-color: #ffa500;
}
.portletHeader {

}
.portletItem,
.portletFooter {
  margin: 0;
}

.blockedPortlet .portletHeader {
    border: 1px dashed #ddd;
    margin: -1px;
    background: none !important;
}

.blockedPortlet .portletHeader a {
    color: #666;
}

.blockedPortlet .portletBlockedMessage {
    color: white;
    display: inline;
}
.portletItemDetails {

}

/*
 * Panels
 */
.add-panel a {
  background-color: @light;
  border: 1px solid @grayLight;
  float: left;
  margin: 0 1em 1em 0;
  padding: 5px;
  text-align: center;
  width: 7em;
}
.add-panel .cell div {
  background-color:@gray;
  color: @white;
  padding: 5px 0;
}

/*
 * Navigation portlet
 */
.navTree {
  
}
.portletNavigationTree a {
  
}
.portletNavigationTree a:visited {
  
}
.portletNavigationTree a:hover {
  
}
.navTreeLevel0 {
  
}
.navTreeLevel0 > .navTreeItem {
  
}
.navTreeLevel1 {
  
}
.navTreeLevel1 > .navTreeItem {
  
}
.navTreeLevel2 {
  
}
.navTreeLevel2 .navTree {
  
}

/*
 * Static Text Portlet
 */
div.portletStaticText {
  
}
.portletStaticText .portletItem {
  
}

/*
 * Calendar Portlet 
 */
.ploneCalendar {
  width: 100%;
} 
.ploneCalendar th,
.ploneCalendar td {
  text-align: center;
}
.ploneCalendar .event {

}
.ploneCalendar .todayevent {

}
.ploneCalendar .todaynoevent {

}
