/*
 * Portlets
 */

.portlet {
  border-bottom: 1px solid @grayLight;
  margin: 0 0 @baseLineHeight;
  padding: 0 0 @baseLineHeight * 1.5;
}
.portlet a:hover {
  text-decoration: underline;
}
dl.portletError {
  background-color: #ffa500;
}
.portletHeader {
  font-size: @baseFontSize / 0.778;
  font-weight: bold;
  line-height: @baseLineHeight;
  margin: @baseLineHeight 0 @baseLineHeight / 1.2;
}
.portletItem,
.portletFooter {
  margin: 0;
}
.portletItemDetails {

}
.managedPortlet {
  margin: @baseLineHeight/2 0;
  padding: 0;
}
.managedPortlet .portletHeader {
  margin: @baseLineHeight / 3 0;
  padding: 5px;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
.blockedPortlet .portletHeader {
  background: @light;
}
.blockedPortlet .portletHeader a {
  color: @grayLight;
}
.managedPortletActions form {
  display: inline-block;
}
.portletAssignments select {
  margin: 0 0 @baseLineHeight / 2;
}
.managedPortletActions {
  float: right;
  font-size: @baseFontSize/1.1667;
}
.managedPortletActions a, 
.managedPortletActions button {
  border: 0;
  padding: 2px 4px;
}

/*
 * Panels
 */
.add-panel a {
  background-color: @light;
  border: 1px solid @grayLight;
  float: left;
  margin: 0 1em 1em 0;
  padding: 5px;
  text-align: center;
  width: 7em;
}
.add-panel .cell div {
  background-color:@gray;
  color: @white;
  padding: 5px 0;
}
.manage-panel input[type="submit"] {
  margin-right: 4px;
}

/*
 * Navigation portlet
 */
.navTree {
  
}
.portletNavigationTree a {
  
}
.portletNavigationTree a:visited {
  
}
.portletNavigationTree a:hover {
  
}
.navTreeLevel0 {
  
}
.navTreeLevel0 > .navTreeItem {
  
}
.navTreeLevel1 {
  
}
.navTreeLevel1 > .navTreeItem {
  
}
.navTreeLevel2 {
  
}
.navTreeLevel2 .navTree {
  
}

/*
 * Static Text Portlet
 */
div.portletStaticText {
  
}
.portletStaticText .portletItem {
  
}

/*
 * Calendar Portlet 
 */
.ploneCalendar {
  width: 100%;
} 
.ploneCalendar th,
.ploneCalendar td {
  text-align: center;
}
.ploneCalendar .event {

}
.ploneCalendar .todayevent {

}
.ploneCalendar .todaynoevent {

}
