// Variables
//---------------

// Global colors
@main: 				#066270; //celadon
@secondary: 		#087b8c;
@notice:			#d5241c; //red
@grayLight: 		#a7b0b5;
@gray: 				#6f7578;
@blueLight: 		#e9eff3;
@black: 			#000;
@white: 			#fff;

// Links color
@linkColor:             @secondary;
@linkColorHover:        @gray;

// Typography
@baseFontSize:          14px;
@baseFontFamily:        'Libre Baskerville', serif;
@baseLineHeight:        20px;
@altFontFamily:         'Libre Baskerville', serif;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    normal;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor

// Old
@mainColor: 		#00e;
@secondaryColor: 	#00e;
