// Layout
#visual-portal-wrapper {
  background-color: #fff;
  margin: 0 auto 30px;
  padding: 0 15px 30px;
  width: 960px;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
#portal-top {
  margin: 0 0 @baseLineHeight / 1.5;
}
#portal-header {
  padding: 20px 0 0;
  min-height: 127px;
}
#portal-column-two {
  margin-top: @baseLineHeight;
}

// Content
.documentDescription {
  font-size: @baseFontSize * 1.29; // ~18
  line-height: @baseLineHeight * 1.34; // ~24
  margin: 0 0 @baseLineHeight;
}
.linkButton a {
  background: -webkit-linear-gradient(@secondary, @main);
  background: linear-gradient(@secondary, @main);
  color: @white;
  display: inline-block;
  padding: 6px 10px;
}
.linkButton a:hover {
  background: -webkit-linear-gradient(@notice, @noticeDark);  
  background: linear-gradient(@notice, @noticeDark); 
}
.suppressVisualEditor {
  margin: @baseLineHeight / 2 0 0 !important;
}

// Viewlets

// Site Actions
#portal-siteactions {
  font-family: @sansFontFamily;
  font-size: @baseFontSize * 0.79;
  line-height: @baseLineHeight * 0.84;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4px;
  top: 15px;
}
#portal-siteactions li {
  display: inline;
}
#portal-siteactions a {
  color: @gray;
  margin: 0 10px;
  text-transform: uppercase;
}
#portal-siteactions a:hover {
  border-bottom: 1px solid;
  color: @black;
}

/*
 * Portal Search Box 
 */
#portal-searchbox {
  position: absolute;
  right: 0;
  top: 87px;
}
.LSBox {
  
}
#portal-searchbox .searchField {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) inset;
  color: @gray;
  height: 30px;
  margin-right: 10px;
  padding: 5px 10px;
  vertical-align: top;
  width: 230px;
}
.no-boxshadow #portal-searchbox .searchField {
  border: 1px solid;
}
.searchButton[type="submit"] {
  background: -webkit-linear-gradient(@secondary, @main);
  background: linear-gradient(@secondary, @main);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  height: 24px;
  padding: 3px 10px;
  vertical-align: top;
}
#portal-searchbox .searchButton[type="submit"] {
  font-size: @baseFontSize * 1.14;
  height: 30px;
}
.searchButton[type="submit"]:hover,
.searchButton[type="submit"]:focus {
  background: -webkit-linear-gradient(@notice, @noticeDark);  
  background: linear-gradient(@notice, @noticeDark);  
}
.no-cssgradients .searchButton[type="submit"]:hover,
.no-cssgradients .searchButton[type="submit"]:focus {
  background-color: @notice;
}
.LSResult {
  position:relative;
  z-index:3;
}
.livesearchContainer {
  background-color: @white;
  border: 1px solid @gray;
  left: 0;
  margin: 2em 0 0;
  padding: (@baseLineHeight / 2);
  position: absolute;
  top: 0;
  width: 100%;
}
#livesearchLegend {
  background-color: @white;
  border-color: @gray;
  border-style: solid;
  border-width: 1px 1px 0;
  left: 0;
  margin-left: -1px;
  padding: 4px 8px 5px;
  position: absolute;
  top: -2em;
}
.LSTable {
  list-style: none;
  margin: 0;
  padding: 0;
}
.LSDescr {
  margin-left: (@baseLineHeight / 2);
}

// Portal Globalnav
#theme-globalnav {
  background: -webkit-linear-gradient(@secondary, @main);
  background: linear-gradient(@secondary, @main);
  list-style: none;
  margin: 0;
  padding: 0;
}
.no-cssgradients #theme-globalnav {
  background-color: @secondary;
}
#theme-globalnav li {
  border-right: 1px solid (@main + #1a1a19); // 066270 -> 207c89
  display: inline-block;
}
#theme-globalnav a {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAMAAACDi47UAAAAMFBMVEX////////////z8/P7+/v////////////////w8PD39/f///////8AAADu7u7///+7HHyoAAAADnRSTlOZVTPXrYhmRCLswncRAO6B8fwAAABUSURBVHjaXY1BDoAwCATR2toCW/7/W1ejCXVOZLIZxPHC40Os+qNMs4zZgHNEll0jyhGhe5J+r7hem9LBrtdf04A21yZ7Q9nsSfJzod6ALImZI3MB3dIJbYVOa18AAAAASUVORK5CYII=) no-repeat 100% 50%;
  border-right: 1px solid (@main - #000202); // 066270 -> 06606e
  color: @white;
  display: inline-block;
  font-size: @baseFontSize * 1.29;
  line-height: @baseLineHeight * 1.33;
  padding: 11px 35px 11px 15px;
}


/*
 * Portal Logo 
 */
#portal-logo {
  
}
#portal-logo img {
  
}

/*
 * Bread Crumbs & Language Selecto 
 */
#portal-breadcrumbs {
  font-family: @sansFontFamily;
  font-size: @baseFontSize * 0.7857;
  line-height: @baseLineHeight * 0.7857;
  margin: @baseLineHeight / 1.5 0 0;
  text-transform: uppercase;
}
#portal-breadcrumbs a {
  color: @linkColor;
}
#portal-breadcrumbs a:hover {
  border-bottom: 1px solid;
}
.breadcrumbSeparator {
  color: @gray;
  display: inline-block;
  font-family: @serifFontFamily;
  font-size: @baseFontSize / 0.778;
  line-height: 1;
  padding: 0 5px;
  vertical-align: -1px;
}

// Footer
#portal-footer-wrapper {
  background: -webkit-linear-gradient(#e9eff3, @white);
  background: linear-gradient(#e9eff3, @white);
}
.no-cssgradients #portal-footer-wrapper {
  background-color: @white;
}
#portal-footer-inner {
  margin: auto;
  padding: 15px 15px 1px;
  width: 960px;
}
#portal-footer {
  
}
