/* ==========================================================================
     Layout
     ========================================================================== */
#visual-portal-wrapper {
  background-color: #fff;
  margin: auto;
  padding: 0 15px;
  width: 960px;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
#portal-header {
  padding: 20px 0 0;
  min-height: 127px;
}

/* ==========================================================================
     Content
     ========================================================================== */
.documentDescription {
  font-size: @baseFontSize * 1.29; // ~18
  line-height: @baseLineHeight * 1.34; // ~24
  margin: 0 0 @baseLineHeight;
}

/* ==========================================================================
     Viewlets
     ========================================================================== */
/*
 * Site Actions
 */
#portal-siteactions {
  font-family: @sansFontFamily;
  font-size: @baseFontSize * 0.79;
  line-height: @baseLineHeight * 0.84;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4px;
  top: 15px;
}
#portal-siteactions li {
  display: inline;
}
#portal-siteactions a {
  color: @gray;
  margin: 0 10px;
  text-transform: uppercase;
}
#portal-siteactions a:hover {
  border-bottom: 1px solid;
  color: @black;
}

/*
 * Portal Search Box 
 */
#portal-searchbox {
  position: absolute;
  right: 0;
  top: 87px;
}
.LSBox {
  
}
#portal-searchbox .searchField {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) inset;
  color: @gray;
  font-size: 16px;
  height: 30px;
  margin-right: 10px;
  padding: 5px 10px;
  vertical-align: top;
  width: 230px;
}
.no-boxshadow #portal-searchbox .searchField {
  border: 1px solid;
}
.searchButton[type="submit"] {
  background: linear-gradient(@secondary, @main);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  font-size: 16px;
  height: 30px;
  padding: 3px 10px;
  vertical-align: top;
}
.searchButton[type="submit"]:hover,
.searchButton[type="submit"]:focus {
  background: linear-gradient(@notice, @noticeDark);  
}
.no-cssgradients .searchButton[type="submit"]:hover,
.no-cssgradients .searchButton[type="submit"]:focus {
  background-color: @notice;
}
.LSResult {
  position:relative;
  z-index:3;
}
.livesearchContainer {
  background-color: @white;
  border: 1px solid @gray;
  left: 0;
  margin: 2em 0 0;
  padding: (@baseLineHeight / 2);
  position: absolute;
  top: 0;
  width: 100%;
}
#livesearchLegend {
  background-color: @white;
  border-color: @gray;
  border-style: solid;
  border-width: 1px 1px 0;
  left: 0;
  margin-left: -1px;
  padding: 4px 8px 5px;
  position: absolute;
  top: -2em;
}
.LSTable {
  list-style: none;
  margin: 0;
  padding: 0;
}
.LSDescr {
  margin-left: (@baseLineHeight / 2);
}

/*
 * Portal Globalnav
 */
#theme-globalnav {
  list-style: none;
  margin: 0;
  padding: 0;
}
#theme-globalnav li {
  display: inline;
}
#theme-globalnav a {
  
}


/*
 * Portal Logo 
 */
#portal-logo {
  
}
#portal-logo img {
  
}

/*
 * Bread Crumbs & Language Selecto 
 */
#portal-breadcrumbs {
  
}
#breadcrumbs-you-are-here {
  
}

/*
 * Footer and Colophon
 */
#portal-footer {
  
}
#portal-colophon {
  
}
