// Layout
#visual-portal-wrapper {
  background-color: #fff;
  margin: 0 auto 30px;
  padding: 0 15px 30px;
  width: 960px;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
#portal-top {
  margin: 0 0 @baseLineHeight / 1.5;
}
#portal-header {
  padding: 20px 0 0;
  min-height: 127px;
}
#portal-column-one,
#portal-column-two {
  margin-top: @baseLineHeight/2;
}

// Viewlets

// Site Actions
#portal-siteactions {
  font-family: @sansFontFamily;
  font-size: @baseFontSize * 0.79;
  line-height: @baseLineHeight * 0.84;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4px;
  top: 15px;
}
#portal-siteactions li {
  display: inline;
}
#portal-siteactions a {
  color: @gray;
  margin: 0 10px;
  text-transform: uppercase;
}
#portal-siteactions a:hover {
  border-bottom: 1px solid;
  color: @black;
}

//Portal Search Box 
#portal-searchbox {
  position: absolute;
  right: 0;
  top: 87px;
}
#portal-searchbox .searchField,
.searchPage[type="text"] {
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) inset;
  color: @gray;
  height: 30px;
  line-height: 20px;
  margin-right: 10px;
  padding: 5px 10px;
  vertical-align: top;
  width: 230px;
}
.searchPage[type="text"]:hover {
  border: 0;
}
#portal-searchbox .searchField:focus,
.searchPage[type="text"]:focus {
  border: 0;
  box-shadow: 1px 1px 5px fade(@secondary, 50%) inset;
}
.no-boxshadow #portal-searchbox .searchField,
.no-boxshadow .searchPage[type="text"] {
  border: 1px solid;
}
.searchButton[type="submit"] {
  background: -webkit-linear-gradient(@secondary, @main);
  background: linear-gradient(@secondary, @main);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  font-size: @baseFontSize * 1.14;
  height: 30px;
  padding: 3px 10px;
  vertical-align: top;
}
.no-cssgradients .searchButton[type="submit"] {
  background-color: mix(@main, @secondary);
}
// #portal-searchbox .searchButton[type="submit"],
// .searchPage[type="submit"] {
//   font-size: @baseFontSize * 1.14;
//   height: 30px;
// }
.searchButton[type="submit"]:hover,
.searchButton[type="submit"]:focus {
  background: -webkit-linear-gradient(@notice, @noticeDark);  
  background: linear-gradient(@notice, @noticeDark);  
}
.no-cssgradients .searchButton[type="submit"]:hover,
.no-cssgradients .searchButton[type="submit"]:focus {
  background-color: mix(@notice, @noticeDark);
}
.LSResult {
  position:relative;
  z-index:3;
}
.livesearchContainer {
  background-color: @white;
  border: 1px solid @gray;
  left: 0;
  margin: 2em 0 0;
  padding: (@baseLineHeight / 2);
  position: absolute;
  top: 0;
  width: 100%;
}
#livesearchLegend {
  background-color: @white;
  border-color: @gray;
  border-style: solid;
  border-width: 1px 1px 0;
  left: 0;
  margin-left: -1px;
  padding: 4px 8px 5px;
  position: absolute;
  top: -2em;
}
.LSTable {
  list-style: none;
  margin: 0;
  padding: 0;
}
.LSDescr {
  margin-left: (@baseLineHeight / 2);
}

// Portal Globalnav
#globalnav-wrapper {
  background-color: mix(@main, @secondary);
  background: -webkit-linear-gradient(@secondary, @main);
  background: linear-gradient(@secondary, @main);
}
.menu-trigger {
  display: none;
}
#theme-globalnav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
#theme-globalnav > li {
  border-right: 1px solid (@main + #1a1a19); // 066270 -> 207c89
  float: left;
}
#theme-globalnav > li:hover {
  border-color: darken(@notice, 10%);
}
#theme-globalnav > li > a {
  display: block;
}
#theme-globalnav > li:hover > a {
  background: -webkit-linear-gradient(@notice, @noticeDark);
  background: linear-gradient(@notice, @noticeDark);
}
.no-cssgradients #theme-globalnav > li:hover > a {
  background-color: mix(@notice, @noticeDark);
}
#theme-globalnav > li > a span {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAMAAACDi47UAAAAMFBMVEX////////////z8/P7+/v////////////////w8PD39/f///////8AAADu7u7///+7HHyoAAAADnRSTlOZVTPXrYhmRCLswncRAO6B8fwAAABUSURBVHjaXY1BDoAwCATR2toCW/7/W1ejCXVOZLIZxPHC40Os+qNMs4zZgHNEll0jyhGhe5J+r7hem9LBrtdf04A21yZ7Q9nsSfJzod6ALImZI3MB3dIJbYVOa18AAAAASUVORK5CYII=) no-repeat 100% 50%;
  border-right: 1px solid (@main - #000202); // 066270 -> 06606e
  color: @white;
  display: inline-block;
  font-size: @baseFontSize * 1.29;
  line-height: @baseLineHeight * 1.33;
  padding: 11px 35px 11px 15px;
}
#theme-globalnav > li:hover > a span {
  border-left: 1px solid desaturate(@notice, 10%);
  border-right: 0 none;
  margin-right: 1px;
  padding-left: 14px;
}
.globalSectionsLevel1 {
  background: -webkit-linear-gradient(@noticeDark,@notice);
  background: linear-gradient(@noticeDark,@notice);
  color: @white;
  display: none;
  left: 0;
  padding: @baseLineHeight/2 0 @baseLineHeight;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 3;
}
.no-cssgradients .globalSectionsLevel1{
  background-color: mix(@noticeDark, @notice);
}
li:hover .globalSectionsLevel1 {
  display: block;
}
.globalSectionsLevel1 .portlet {
  border: 0;
  margin: 0;
  padding: 0;
}
.globalSectionsLevel1 > li {
  display: block;
  padding: 7px 15px;
}
.globalSectionsLevel1 a {
  color: @white;
}
.globalSectionsLevel1 li > a {    
  display: block;
  font-weight: bold;
  padding: 7px 15px;
}
.globalSectionsLevel1 a:hover {
  background-color: desaturate(@notice, 10%);
}
.globalSectionsLevel1 ul {
  padding: 0;
}
.globalSectionsLevel1 li li {
  display: block;
}
.globalSectionsLevel1 .listTypeMark > li {
  margin-left: 0;
}
.globalSectionsLevel1 .listTypeMark > li:before {
  display: none;
}
.globalSectionsLevel1 .listTypeMark > li > a {
  padding-left: 20px;
}
.globalSectionsLevel1 .listTypeMark > li > a:before {
  color: @white;
  content: "» ";
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: bold;
  margin-left: -14px;
  vertical-align: 1px;
}

// Portal Logo 
#desktop-logo {
  background-image: @desktopLogo;
  display: inline-block;
  height: @desktopLogoHeight;
  overflow: hidden;
  text-indent: -9999px;
  width: @desktopLogoWidth;
}
#mobile-logo {
  display: none;
}

// Document Actions
.documentActions {
  float: right;
  margin: 13px 0;
  padding: 0;
}
.documentActions li {
  display: inline-block;
}
.documentActions a {
  display: block;
  height: 18px;
  margin-left: 12px;
  overflow: hidden;
  text-indent: -9999px;
  width: 18px;
}
#document-action-print a {
  background: @print-icon no-repeat 50% 50%;
}
#document-action-print a:hover {
  background-image: @print-icon-hover;
}
#document-action-plus a {
  background: @addthis-icon no-repeat 50% 50%;
}
#document-action-plus a:hover {
  background-image: @addthis-icon-hover;
}

// Bread Crumbs & Language Selecto
#portal-breadcrumbs {
  font-family: @sansFontFamily;
  font-size: @baseFontSize * 0.7857;
  line-height: @baseLineHeight * 0.7857;
  margin: @baseLineHeight / 1.5 0 0;
  text-transform: uppercase;
}
#portal-breadcrumbs a {
  color: @linkColor;
}
#portal-breadcrumbs a:hover {
  border-bottom: 1px solid;
}
.breadcrumbSeparator {
  color: @gray;
  display: inline-block;
  font-family: @serifFontFamily;
  font-size: @baseFontSize / 0.778;
  line-height: 1;
  padding: 0 5px;
  vertical-align: -1px;
}

// Footer
#portal-footer-wrapper {
  background: -webkit-linear-gradient(#e9eff3, @white);
  background: linear-gradient(#e9eff3, @white);
}
.no-cssgradients #portal-footer-wrapper {
  background-color: @white;
}
#portal-footer-inner {
  margin: auto;
  padding: 3px 15px 1px;
  width: 960px;
}
#portal-footer-wrapper .portlet {
  border: 0;
  margin: 0 0 @baseLineHeight*1.5;
  padding: 0;
}
#portal-footer-wrapper .portletItem {
  font-family: @sansFontFamily;
  font-size: @baseFontSize * 0.857;  
  line-height: @baseLineHeight / 1.125;
}
#portal-footer-wrapper .listTypeMark > li {
  margin: 0;
}
#portal-footer-wrapper .listTypeMark > li:before {
  display: none;
}
#portal-footer-wrapper .listTypeMark > li > a {
  display: block;
  padding: 3px 3px 3px 17px;
}
#portal-footer-wrapper .listTypeMark > li > a:hover {
  background-color: @light;
  text-decoration: none;
}
#portal-footer-wrapper .listTypeMark > li > a:before {
  content: "» ";
  font-size: @baseFontSize;
  margin-left: -14px;
}
#portal-footer {
  border-top: 1px solid @grayLight;
  clear: both;
  padding: @baseLineHeight 0 0;
}
#portal-footer a:hover {
  color: @black;
}
#portal-footer ul {
  list-style: none;
  padding: 0;
}
#portal-footer li {
  display: inline;
  padding-right: 30px;
}

// Listings
.tileHeadline a:hover {
  text-decoration: underline;
}
.documentByLine {  
  font-family: @sansFontFamily;
  font-size: @baseFontSize*0.786;
  line-height: @baseLineHeight/1.2;
  margin: 0 0 @baseLineHeight/3;
  text-transform: uppercase;
}
.template-events_view .documentByLine,
.template-events_view .tileBody {
  margin-left: 80px;
}
.separator {
  padding: 0 4px;
}

// Listing Bar
.listingAmount {
  border-top: 1px solid @grayLight;
  padding: 11px 0;  
  margin: @baseLineHeight 0 0;
}
.batchNumbers {
  float: right;
}
.batchNumbers a {
  margin-right: 3px;
}
.allBatch {
  margin-left: 6px;
}
.listingBar {
  border-top: 1px solid @grayLight;
  color: @main;
  margin: @baseLineHeight 0;
  padding: 5px 0;
  text-align: center;
}
.listingAmount + .listingBar {
  margin-top: 0;
}
.itemBatch,
.currentBatch {
  display: inline-block;
  padding: 6px 3px;
}
.itemBatch:hover,
.itemBatch:visited {
  color: @main;
}
.currentBatch {
  color: @black;
}
.itemBatch:hover {
  text-decoration: underline;
}
.batch {
  background-color: @light;
  color: @black;
  font-size: 36px;
  height: 30px;
  line-height: 24px;
  text-align: center;
  width: 30px;
}
.batch:hover {
  background-color: @grayLight;
  color: @black;
}
.batch:visited {
  color: @black;
}
.previousBatch {
  float: left;
}
.nextBatch {
  float: right;
}

// Subsection View
.subSectionTile {
  margin-bottom: @baseLineHeight;
}
.subSectionTile.position-0 {
  clear: both;
}
.subSectionTile a:hover {
  color: @secondary;
  text-decoration: underline;
}
.subSectionTile a:visited:hover {
  color: @gray;
}
.sstImageWrapper {
  height: 113px;
  overflow: hidden;
}
.sstHeadline {
  margin: @baseLineHeight/2 0;
}

// Search results page
.template-search #portal-breadcrumbs,
.template-search #portal-column-one {
  display: none;
}
#search-field {
  padding: 0;
}
#rss-subscription {
  float: left;
  line-height: 3em;
}
#advanced-search {
  background-color: @secondary;
  color: @white;
  float: left;
  margin-left: -240px;
  margin-top: -110px;
  width: 210px;
}
#advanced-search h2 {
  margin: 0;
}
#search-filter-toggle {
  color: @white;
  display: block;
  padding: 12px;
}
#search-filter label {
  font-weight: normal;
}
#search-results-wrapper {
  margin-top: 1em;
}
form.searchPage h1.documentFirstHeading .highlightedSearchTerm {
  background: transparent !important;
}
.searchResultsItemTitle {
  margin: @baseLineHeight 0 @baseLineHeight/6;
}
.documentLocation {
  font-family: @sansFontFamily;
  font-size: @baseFontSize * 0.7857;
  line-height: @baseLineHeight * 0.7857;
  margin: 0 0 @baseLineHeight/6;
  text-transform: uppercase;
}
.documentLocation a {
  color: @gray;
}
#ajax-search-res {
  display: none;
}
