[buildout]
extends =
    base/base.cfg

parts +=
#    plonesite
    lesscss

# Headnet: Enter project eggs here:
eggs +=
    Products.PloneFormGen
    Products.WindowZ
    collective.chimpfeed
    collective.flowplayer
    collective.formlib.link
    collective.panels
    collective.portletmetadata
    collective.portlet.carousel
    collective.portlet.ngcollection
    collective.portlet.rich
    collective.taxonomy
    elementtree # Headnet branch of Tiny still needs this b/c it's based om p4.2 version
    plone.app.contenttypes
    plone.app.imagecropping
    plone.app.querystring [test]
    policy
    quintagroup.dropdownmenu
    quintagroup.portlet.generichtml
    quintagroup.plonetabs
    smtemplate.theme
#    collective.person

# Headnet: Not externals: enter development eggs included in
# this repository here, as src/name.
develop =
    src/policy
    src/smtemplate.theme

# Headnet: Externals: enter name of development eggs from other repositories
# here, and add to sources below as well. They will be added to
# mr-developer-src and be ignored in this git repository.
auto-checkout =
    collective.chimpfeed
    collective.portlet.carousel
    collective.portlet.rich
    collective.portletmetadata
    collective.portlet.ngcollection
    collective.panels
    plone.app.querystring
    plone.app.imagecropping
    plone.app.portlets
    plone.formwidget.contenttree
    quintagroup.plonetabs
    Products.ATVocabularyManager
    plone.portlet.collection
    collective.person

[sources]
# Headnet: put project specific sources here.
# Examples:
# collective.cachepurger  = svn https://svn.headnet.dk/shiny/collective.cachepurger/trunk/
# collective.cachepurger  = svn https://svn.headnet.dk/shiny/collective.cachepurger/trunk/@123
# Plone                   = git ${remotes:plone}/Plone.git branch=4.1
# Plone                   = git ${remotes:plone}/Plone.git rev=TAG
#
# Example with pushurl - needed to be able to check out read only by non-collective user, like hnet/build@headnet.dk
# collective.pfgpreview       = git ${remotes:collective}/collective.pfgpreview.git pushurl=${remotes:collective_push}/collective.pfgpreview.git
collective.chimpfeed = git git@github.com:collective/collective.chimpfeed.git
collective.portletmetadata = git git@github.com:collective/collective.portletmetadata.git
collective.portlet.carousel = git git@github.com:collective/collective.portlet.carousel.git
collective.portlet.rich = git git@github.com:collective/collective.portlet.rich branch=z3cform
collective.portlet.ngcollection = git git@github.com:collective/collective.portlet.ngcollection branch=z3cform
plone.app.imagecropping = git git@github.com:collective/plone.app.imagecropping.git
plone.app.portlets = git git@github.com:plone/plone.app.portlets.git branch=2.4.x
plone.app.querystring = git git@github.com:plone/plone.app.querystring.git branch=logic-fix
plone.formwidget.contenttree = git git@github.com:plone/plone.formwidget.contenttree.git
quintagroup.plonetabs = git https://github.com/quintagroup/quintagroup.plonetabs.git branch=nokss pushurl=git@github.com:quintagroup/quintagroup.plonetabs.git
Products.ATVocabularyManager = git ${remotes:collective}/Products.ATVocabularyManager.git pushurl=${remotes:collective_push}/Products.ATVocabularyManager.git
plone.portlet.collection = git git@github.com:plone/plone.portlet.collection.git branch=z3cform
collective.person = git ${remotes:collective}/collective.person.git pushurl=${remotes:collective_push}/collective.person.git
collective.panels = git ${remotes:collective}/collective.panels.git pushurl=${remotes:collective_push}/collective.panels.git branch=no-kss

[instance]
zcml +=
    collective.portlet.carousel
    collective.portlet.ngcollection
    collective.portlet.rich
    plone.app.imagecropping
    policy
    quintagroup.portlet.generichtml
environment-vars +=
    EXPORT_THEME_DIR ${buildout:directory}/resources/theme

[plonesite]
recipe = collective.recipe.plonesite
site-id = site
default-language = da
instance = instance
profiles-initial = policy:initialsetup
use-vhm = No

[lesscss]
recipe = gp.recipe.node
url = http://nodejs.org/dist/v0.6.14/node-v0.6.14.tar.gz
npms = less
scripts = lessc
